!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<table th:fragment="items_factura" class="d-none">

		<tbody id="plantillaItemsFactura">
			<tr id="row_{ID}">
				<td class="d-none"><input type="hidden" value="{ID}"
					name="item_id[]" /></td>
				<td>{NAME}</td>
				<td>{PRICE}</td>
				<!-- Se le añade el metodo onchange para capturar el evento de incremento de cantidad -->
				<td><input type="number" value="1" name="cantidad[]"
					id="cantidad_{ID}" class="form-control sm-4" onchange="itemsHelper.calcularImporte({ID},{PRICE}, this.value);"/></td>
				<td><span id="totalFactura_{ID}">0</span></td>
				<td><a href="#" class="btn btn-danger btn-xs" onclick="itemsHelper.eliminarLineaFactura({ID});">x</a></td>

			</tr>
		</tbody>
	</table>
</body>
</html>