<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<!-- Div que contiene los errores en una lista mediante field.errors -->
				<div th:object="${cliente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{name}" class="form-control"
								th:errorclass="'form-controll alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{surname}" class="form-control"
								th:errorclass="'form-controll alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{email}" class="form-control"
								th:errorclass="'form-controll alert-danger'" /> <br> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Fecha</label>
						<div class="col-sm-6">
							<input type="date" pattern="yyyy-mm-dd" th:field="*{createAt}"
								class="form-control"
								th:errorclass="'form-controll alert-danger'" /> <br> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="file" class="col-sm-2 col-form-label">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control">
						</div>
						
					</div>
					<div class="form-group">
						<input type="submit" value="Crear Cliente" class="btn btn-secondary" />
					</div>


					<!-- Se puede quitar este hidden ya que en el controller se utiliza la anotacion SessionAtributes("Cliente") que guarda el objeto -->
					<!-- Cliente hasta que se le ordena mediante status.setComplete() que lo borre del contenedor -->

					<!-- 			<input type="hidden" th:field="*{id}" /> -->

				</form>
			</div>
		</div>
	</div>
	<!-- Se añade el footer desde layou.html con nombre footer -->
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>